/* 
font-family: 'Cinzel', serif;
font-family: 'Quicksand', sans-serif;

*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Cinzel', serif;
}

:root {
    --primary-color:#FD6E0A;
    --secondary-color:#FFF8F3;
}

.section-title {
    margin: 20px 0px;
}
/* Header CSS */
header {
    background-color: var(--secondary-color);
    background-image: url("/assets/images/header_bg.png"), url('../images/developer.png');
    background-repeat: no-repeat;
    
    background-position: bottom right, top left;
   
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto ;
    padding: 30px 0px;
}
.partTwo {
    color:var(--primary-color);
}
.navi ul li {
    display: inline;
    padding: 10px 15px;
}
.navi ul li:hover {
    background-color: var(--primary-color);
}
.btn-theme {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}
.btn-theme:hover {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.btn-download {
    margin-left: 0px;
}
.banner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 0px 150px;
    align-items: center;
    
}

.banner-img img {
    width: 80%;

}
.banner-content {
    align-items: center;
    max-width: 500px;
}
.short-bio {
    padding: 15px 50px 15px 0px;
}

/*  CSS for main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About Me Section CSS */
.about-me .container {
    margin: 50px 0px;
    background-color: var(--secondary-color);
    text-align: center;
    padding:50px ;

}
.about-me .container>p {
    margin: 15px 0px;
}
.my-info-container {
    display: flex;
    margin: auto 20px;
    justify-content: center;
}

.my-info {
    margin-right: 75px;
}
.my-info .info-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
.info-des {
    font-weight: bold;
    
}


/* CSS for What I do Section */
.what-i-do {
    text-align: center;
    /* padding: 100px 150px; */
}
.skill-container {
    display: flex;
    margin: 25px 10px;
}
.my-skills {
    text-align: left;
    padding: 10px;
    margin-right: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.my-skills h3 {
    margin: 10px 0px;
}

/* CSS for Summery Section */

.summery {
    justify-content: center;
    text-align: center;
    margin: 50px 0px;
}

.summery-container {
    display: flex;
   justify-content: space-around;
    margin: 30px 0px;
}

.education, .experience {
    margin: 10px 50px;
    padding: 10px 50px;
    text-align: left;
}

.edu-info, .work-info {
    margin-right: 25px;
    margin-bottom: 30px;
}
.edu-info p {
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.work-info p {
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.edu-info h4 {
    font-size: 18px;
    font-weight: 500;
}

.work-info h4 {
    font-size: 18px;
    font-weight: 500;
}
.summary-sub-title {
    font-size: 20px;
    margin-bottom: 20px;
}




/* Footer css */

footer {
    background-color: var(--secondary-color);
    padding: 130px 200px;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    margin: 25px;
    padding: 20px;
    width: 50%;
}
.contact-info ul li {
    display: inline;
    margin: 10px;
}

.social-icons {
    margin: 15px 0px;
}

.social-icons a {
    margin-right: 5px;
}


.contact-form {
    margin: 25px;
    padding: 20px; 
    width: 70%;
}
form {
    margin: 25px 0px;
}
input {
    background-color: #fff;
    color: rgb(137, 137, 137);
    width: 50%;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
}
textarea {
    width: 50%;
    border: none;
    margin-bottom: 10px;
}
